/* header */
.header {
  padding: 95px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.navigation-link__active {
  text-decoration: none;
}

.header__navigation-list {
  display: flex;
  gap: 13px;
  list-style: circle inside;
}

.header__navigation-list-item_no-bullit {
  list-style: none;
}

.header__link-logo {
  display: block;
  width: 129px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  line-height: 24px;
}

.contact-info__header {
  max-width: 236px;
  justify-self: end;
}

/* main */
.dark-section {
  background-color: #000;
  color: #fff;
}

.bright-section {
  background-color: #fff;
  color: #000;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.6;
}

/* cover */
.cover {
  position: relative;
  padding: 0px 50px 50px;
  background: black url(../images/cover.jpg) no-repeat center/cover;
}

.cover-title {
  padding: 165px 0px 106px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.align-text__start {
  text-align: start;
}

.align-text__center {
  text-align: center;
}

.align-text__end {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  font-size: 22px;
}

.cover-description__text {
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 19px;
}

.bet-button {
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 12px 31px 11px;
}

/* lots */
.lots {
  padding: 180px 24px 0px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  padding: 0px 0px 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  background-size: cover;
  background-position: center;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  padding: 48px 40px;
}

.card-title {
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  z-index: 2;
  font-size: 20px;
}

.card-type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  text-transform: lowercase;
  font-size: 20px;
  padding: 30px 0px 0px 40px;
}

/* about */
.about {
  display: grid;
  grid-template-columns: 334px auto;
  padding: 120px 24px 180px;
}

.logo-column {
  padding: 35px 0px 0px;
  display: flex;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 60%;
}

.about-column {
  padding: 0px 0px 0px 25px;
}

.about-column__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  padding: 135px 0px 0px;
}

.about-column__text {
  display: flex;
  flex-direction: column;
  padding: 100px 5px 0px 0px;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 50px 82px;
}

.contact-info__footer {
  max-width: 240px;
}

.footer__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}